  [alias]
    s = status
    d = diff
    dc = diff --cached
    ds = diff --staged
    a = add
    co = checkout
    b = branch
    ba = branch -a
    bclean = !git branch --merged master | grep -v 'master$' | xargs git branch -d
    l = log
    # Pretty abbreviated git log graph
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    # Pretty abbreviated git log
    lp = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    # See which commits are not merged since branching from master
    lpm = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit origin/master..HEAD
    f = fetch
    fp = fetch -p  # prune
    r = reset
    p = pull
    pr = pull --rebase
    prom = pull --rebase origin master
    ps = push
    pom = push origin master
    cp = cherry-pick
    sh = show
    up = !git fetch origin && git rebase origin/master
    # Display files affected by a commit (git files <commit_hash>)
    files = diff-tree --no-commit-id --name-status -r
  [color]
    ui = auto
  [core]
    editor = vim
    excludesfile = ~/.gitignore_global
  [push]
    default = current
  [rerere]
    enabled = 1
